---

// Classes
import ButtonClass from '../../../classes/ButtonClass';

// Components
import CustomButton from '../../../components/forms/CustomButton';

// Routes
import AppRoutes from '../../../routes';

// Sections
import BackgroundWithVideo from '../../../components/custom/BackgroundWithVideo.astro';

---

<BackgroundWithVideo
  url="https://blau-app-storage.s3.amazonaws.com/consultorias/mi-energia/MiEnergia-01.mov"
/>

<!-- @TIP: Con h-0 se remueve el espacio que deja el display relative -->
<div class="flex gap-4 justify-center relative bottom-16 h-0">

  <a href={AppRoutes.sobreNosotrosRoute.route}>
    <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Nosotros</CustomButton>
  </a>
  
</div>