<section class="flex flex-col items-center gap-10 p-6 md:p-12 md:px-20 lg:px-40 xl:px-60">

  <p class="text-2xl text-center font-semibold">
    Formamos parte de Ingeniería y Desarrollo de Yucatán S.A. de C.V. (IDY), 
    empresa constructora y de servicios de ingeniería con más de 30 años de experiencia 
    en la industria de la construcción (fundación 1991).
  </p>

  <img 
    class="w-60"
    src="/images/screens/home/logos-certificaciones/img9.png"
  />

</section>