<section class="p-6 items-center gap-6 md:gap-12 md:p-20 grid grid-cols-1 md:grid-cols-2">

  <img 
    src="/images/screens/home/img5.png" 
    alt="Diagrama Cliente Ideal" 
    class="sm:h-[500px] mx-auto"
  />

  <div class="flex flex-col text-lg gap-2">

    <h2 class="text-2xl font-semibold">Impulsando la Transición Energética y la Descarbonización en México</h2>

    <p class="">
      Mi Energía MX proporciona una amplia gama de servicios energéticos y servicios de activos energéticos.
      Nuestro objetivo es desarrollar un portafolio integral de soluciones 
      que aceleren e impulsen la transición energética y la descarbonización en México. 
    </p>

    <p>
      Nos comprometemos a colaborar con el sector privado y público, 
      para mejorar la sostenibilidad y cumplir con los objetivos de 
      desarrollo sostenible de la ONU.
    </p>

  </div>

</section>