<section class="p-6 md:p-20 grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
  <!-- Imagen del diagrama con iconos -->
  <div class="relative flex justify-center">
    <img 
      src="/images/screens/home/img5.png" 
      alt="Diagrama Cliente Ideal" 
      class="sm:h-[500px] mx-auto"
    />

    <!-- Iconos superpuestos -->
    <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center gap-4">
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-07-200x200.png" 
        alt="Icono objetivo 7" 
        class="w-12 h-12 md:w-16 md:h-16"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-13-200x200.png" 
        alt="Icono objetivo 13" 
        class="w-12 h-12 md:w-16 md:h-16"
      />
    </div>
  </div>

  <!-- Texto con descripción y objetivos de desarrollo sostenible -->
  <div class="flex flex-col gap-4">
  
  <h1 class="font-semibold " style="font-size:  1.3vw; ">
  Impulsando la Transición Energética y la Descarbonización en México
</h1>


    <p>
      Mi Energía MX proporciona una amplia gama de servicios energéticos y servicios de activos energéticos.
      Nuestro objetivo es desarrollar un portafolio integral de soluciones que aceleren e impulsen la transición energética y la descarbonización en México.
    </p>

    <p>
      Nos comprometemos a colaborar con el sector privado y público, para mejorar la sostenibilidad y cumplir con los objetivos de desarrollo sostenible de la ONU.
    </p>

    <!-- Iconos de los objetivos de la ONU -->
    <div class="flex flex-wrap gap-x-4 gap-y-2 -mt-1 justify-center">

      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-01-200x200.png" 
        alt="Objetivo 1" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-02-200x200.png" 
        alt="Objetivo 2" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-03-200x200.png" 
        alt="Objetivo 3" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-04-200x200.png" 
        alt="Objetivo 4" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-05-200x200.png" 
        alt="Objetivo 5" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-06-200x200.png" 
        alt="Objetivo 6" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-07-200x200.png" 
        alt="Objetivo 7" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-08-200x200.png" 
        alt="Objetivo 8" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-09-200x200.png" 
        alt="Objetivo 9" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-10-200x200.png" 
        alt="Objetivo 10" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-11-200x200.png" 
        alt="Objetivo 11" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-12-200x200.png" 
        alt="Objetivo 12" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-13-200x200.png" 
        alt="Objetivo 13" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-14-200x200.png" 
        alt="Objetivo 14" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-15-200x200.png" 
        alt="Objetivo 15" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S-WEB-Goal-16-200x200.png" 
        alt="Objetivo 16" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
      <img 
        src="/images/screens/home/mi-energia-servicios/S_SDG_PRINT-17-200x200.jpg" 
        alt="Objetivo 16" 
         class="w-24 h-24 md:w-28 md:h-28 object-contain"
      />
    </div>
  </div>
</section>
