---

// Components
import OurLocationMap from '../../data/OurLocationMap';

---

<section class="bg-neutral-700 text-white flex flex-col gap-4 p-6 md:px-20 lg:px-40 xl:px-60">

  <h2 class="text-2xl font-semibold text-center">Plantas de sitios trabajados</h2>

  <OurLocationMap client:load/>
  
</section>