---

---

<div class="text-center bg-neutral-700 text-white flex flex-col p-6 md:py-10 md:px-20 lg:px-40 xl:px-60 gap-6 ">

  <h3 class="font-semibold text-2xl">Transitar a electromovilidad es sencillo y eficiente gracias a nuestra solución para flotillas eléctricas</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div class="p-6 border rounded-sm bg-neutral-800">
      <p>Sabemos lo importante que es la gestión para toda operación logística, así como el análisis de datos y mejora continua. Es por eso que ofrecemos una solución especial para flotillas eléctricas. </p>
    </div>
  
    <div class="p-6 border rounded-sm bg-neutral-800">
      <p>La cual nos permite a través de un software administrar y llevar un control de nuestras unidades y sus cargas, inclusive si estas operaciones se llevan a cabo en distintas ubicaciones, puedes tener todo el control desde un solo lugar.</p>
    </div>

  </div>

</div>