---

const anfitrionList = [
  {
    title:'Educación',
    description:'Fomentar la sostenibilidad adaptando en los campus cargadores de vehículos eléctricos para estudiantes, personal y visitantes.',
    img:'/icons/book-cyan-700.svg'
  },
  {
    title:'Flotillas',
    description:'Ofrecemos informes y monitoreo avanzado de flotillas para que su empresa pueda centrarse en la disponibilidad y confiabilidad de sus estaciones de carga y flota de vehículos eléctricos.',
    img:'/icons/car-cyan-700.svg'
  },
  {
    title:'Centros Comerciales',
    description:'La instalación de puntos de recarga para coches eléctricos en centros comerciales es un servicio muy valorado para los clientes, ya que el número de personas que visitan las grandes superficies es mayor y el número de usuarios que utilizan los vehículos eléctricos ha incrementado.',
    img:'/icons/build-cyan-700.svg'
  },
  {
    title:'Restaurantes',
    description:'La instalación de puntos de recarga para coches eléctricos en restaurantes para los consumidores, puede llegar hacer una toma de decisión para el cliente a la hora de elegir dónde ir a comer.',
    img:'/icons/store-cyan-700.svg'
  },
  {
    title:'Hoteles',
    description:'La incorporación de estaciones de carga para vehículos eléctricos en hoteles se considera una estrategia valiosa para atraer clientes, dada la creciente adopción de autos eléctricos.',
    img:'/icons/hotel-cyan-700.svg'
  },
  {
    title:'Casa Club Desarrollo Inmobiliario',
    description:'Posicione su casa club como el más centrado en los residentes de la ciudad ofreciendo a residentes e invitados estaciones de carga para vehículos eléctricos. Atraiga a más residentes y aumente la retención con cargadores de vehículos eléctricos.',
    img:'/icons/house-cyan-700.svg'
  }
];

---

<div class="bg-gray-600 text-white text-center p-6 pt-20 md:pb-12 md:px-20 lg:px-40 xl:px-60 flex flex-col">

  <h3 class="font-semibold text-2xl mb-2">
    Conviértete en un punto de recarga para los conductores de autos eléctricos y genera ingresos adicionales
  </h3>

  <p class="mb-6 text-lg">
    Con nuestros cargadores comerciales ofrecemos un servicio de calidad y rapidez para los conductores de autos eléctricos. 
    Con esto generas un mayor flujo de personas a tu establecimiento y tendrás la oportunidad de generar ingresos a través de 
    las plataformas de cobro.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    {anfitrionList.map((row) => 

      <div class="border rounded-sm p-6 flex flex-col bg-gray-700 items-center">

        <div class="rounded-sm w-12 min-w-12 h-12 bg-cyan-300 mb-4 flex items-center justify-center">
          <img src={row.img} class="h-6 w-6"/>
        </div>

        <h2 class="font-semibold">{row.title}</h2>
        <p>{row.description}</p>

      </div>

    )}

  </div>

</div>

