---
import Carousel from '../../../components/custom/Carousel';
---
<div class="carousel-container mx-4 px-6 pt-14 md:mx-20 lg:mx-40" >

  <!-- Encabezado del carrusel -->
<div class="carousel-header bg-white text-black text-center px-4 pt-14 md:pb-2 px-0 flex flex-col ">
    <h3 class="font-semibold text-xl mb-2"> 
      Conviértete en un punto de recarga para los conductores de autos eléctricos y genera ingresos adicionales
    </h3>
    <p class="mb-2 text-base">
      Con nuestros cargadores comerciales ofrecemos un servicio de calidad y rapidez para los conductores de autos eléctricos.
      Con esto generas un mayor flujo de personas a tu establecimiento y tendrás la oportunidad de generar ingresos a través de
      las plataformas de cobro.
    </p>
</div>



</div>
<Carousel client:load />