--- 

const ventajasList = [
  'Poder reservar el punto de carga a través de la app',
  'Administrar tarifas de carga dependiendo del día y del horario',
  'Llevar un control de los cobros, cargas y clientes',
  'Establecer tarifas de ocupación de espacio etc etc.',
]

---

<div class='px-6 pt-12 md:pb-14 md:px-20 lg:px-40 xl:px-60 flex flex-col bg-gray-100 text-center items-center gap-6'>

  <h3 class='font-semibold text-2xl'>
    Ventajas de ser anfitrión de una estación de carga
  </h3>

  <div class="grid grid-cols-2 gap-6 items-center justify-center">

    <img src='/images/screens/electromovilidad/img25.jpg' class='border rounded'/>

    <div class='grid grid-cols-1 md:grid-cols-2 gap-6'>

      {ventajasList.map((row, index) => 
  
        <div class='border rounded p-6 flex flex-col gap-4 bg-white items-center'>
  
          <div class="h-12 w-12 border rounded flex justify-center items-center bg-gray-100">
            <span class="text-blue-700 font-semibold">{index + 1}</span>
          </div>
  
          <h2>{row}</h2>
  
        </div>
  
      )}
  
    </div>

  </div>

</div>
