<section class="grid grid-cols-1 md:grid-cols-2 text-center h-96">

  <div class="p-6 bg-gray-100 order-2 md:order-1 h-full flex flex-col justify-center">
    <h2 class="text-2xl font-medium">Nuestra Misión</h2>
    <p class="text-lg">
      Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
      promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
    </p>
  </div>

  <div class="p-6 bg-neutral-800 text-white order-1 md:order-2 h-full flex flex-col justify-center">
    <h2 class="text-2xl font-medium">Nuestra Visión</h2>
    <p class="text-lg">
      Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
      Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
    </p>
  </div>

</section>