<section class="grid grid-cols-1 md:grid-cols-2 text-center">

  <div class="p-6 bg-gray-100 flex flex-col items-center justify-start">

    <h2 class="text-2xl font-semibold">Nuestra Misión</h2>

    <p class="text-lg">
      Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
      promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
    </p>

  </div>

  <div class="p-6 bg-neutral-800 text-white flex flex-col justify-center">

    <h2 class="text-2xl font-semibold">Nuestra Visión</h2>

    <p class="text-lg">
      Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
      Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
    </p>

  </div>

</section>