<section class="grid grid-cols-1 md:grid-cols-2 gap-0 text-center">

  <!-- Nuestra Misión -->
  <div class="px-6 py-16 sm:py-32 bg-gray-100 flex flex-col mb-0 sm:mb-0">
    <h2 class="text-2xl font-semibold mb-4">Nuestra Misión</h2>
    <p>
      Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
      promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
    </p>
  </div>

  <!-- Nuestra Visión -->
  <div class="px-6 py-16 sm:py-32 bg-neutral-800 flex flex-col text-white mb-0 sm:mb-0">
    <h2 class="text-2xl font-semibold mb-4">Nuestra Visión</h2>
    <p>
      Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
      Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
    </p>
  </div>

</section>
