<section class="flex flex-col text-center">

  <div class="px-6 pt-14 pb-12 bg-gray-100 flex flex-col">

    <h2 class="text-2xl font-semibold">Nuestra Misión</h2>

    <p>
      Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
      promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
    </p>

  </div>

  <div class="px-6 pt-14 pb-12 bg-neutral-800 flex flex-col text-white">

    <h2 class="text-2xl font-semibold">Nuestra Visión</h2>

    <p>
      Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
      Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
    </p>

  </div>

</section>