---


const diferencialesFronius = [
  'Amplia experiencia en soluciones de energías renovables.',
  'Consultores competentes para la transición energética.',
  'Excelente servicio posventa para el mantenimiento y revisión de instalaciones.',
  'Mi Energía MX está certificado como Fronius Solution Partner que cumple los criterios de calidad definidos por la marca.',
];

---

<section class="bg-neutral-800 text-white text-center flex flex-col items-center gap-4 px-6 pt-14 pb-10 md:pb-16 md:py-10 md:px-20 lg:px-40 xl:px-60">

  <h3 class="text-2xl font-semibold col-span-2">¿Qué diferencia Mi Energía MX como Fronius Solutions Partner?</h3>

  <div class="flex gap-12 items-center">
    <img src="/images/screens/sobre-nosotros/img23.png" class="w-56"/>
    <img src="/images/mi-energia-logo/fronius-logo.jpeg" class="h-20"/>
  </div>

  <div class="grid gap-6 grid-cols-2 md:grid-cols-4">

    {
      diferencialesFronius.map((item) => (
        <div class="border rounded p-4 flex items-center bg-neutral-700">
          <span>{item}</span>
        </div>
      ) 
    )}

  </div>

</section>