---

const sobreNosotrosParagraph = `
  En Mi Energía MX estamos enfocándonos en brindarles calidad y el buen servicio, utilizando los mejores productos del mercado. 
  Queremos ayudarte a impulsar la transición energética y descarbonización de México a través de soluciones energéticas altamente 
  rentables y eficientes que agregan valor a nuestros clientes reduciendo sus gastos fijos y huella de carbono. 
  Más de 30 años de experiencia en servicios de construcción nos respaldan.`

---

<section class="bg-neutral-800 flex flex-col justify-center items-center p-6 text-white h-96">
  <h2 class="text-2xl font-semibold">Sobre Nosotros</h2>
  <p class="md:w-1/2 text-center text-lg">{sobreNosotrosParagraph}</p>
</section>