---
// Modules
import { YouTube } from 'astro-embed';

// Components
import Layout from '../../layouts/Layout.astro';

const tauroList = [
  '• Instalación rápida y mantenimiento eficiente',
  '• Electrónica conductora protegida por la active cooling technology',
  '• La carcasa de doble pared garantiza una compensación de temperatura óptima',
  '• Alto rendimiento estable incluso a temperaturas ambiente de hasta 50°C'
];

const diseñoRobustoList = [
  '• Electrónica conductora protegida por enfriamiento activo',
  '• La carcasa de doble pared garantiza una compensación de temperatura óptima',
  '• Alto rendimiento estable a temperaturas ambiente de hasta 50°C'
];

const extremadamenteRentableList = [
  'Instalación rápida y mantenimiento eficiente',
  'El cambio de la caja de potencia (27kg) puede hacerlo fácilmente una persona',
  'Manejo eficiente en casos de servicio y soporte en línea específico con Fronius Solar, SOS',
];

---

<Layout title="Tauro">

  <section class="h-screen bg-slate-600">

  </section>

  <section class="p-6 bg-stone-900 text-white flex flex-col text-center items-center">

    <h3 class="text-xl font-semibold">Fronius Tauro</h3>

    <div class="w-1/2">

      <p>Este inversor es sostenible en todo, gracias a su desarrollo y producción sostenible de Austria, su diseño innovador es de doble pared y enfriamiento activo.</p>

      <p>Esto hace que Fronius Tauro sea particularmente robusto y resistente a daños, y significa que solo es necesario reemplazar piezas individuales durante el servicio en el sitio, lo que ahorra tiempo y recursos.</p>

    </div>

  </section>

  <section class="flex flex-col">

    <YouTube 
      id="https://www.youtube.com/watch?v=RXIJN1L9Cck&ab_channel=FroniusSolarEnergy"
      class="w-full max-w-full"
      title="Fronius Tauro"
      poster="https://uvpower.com.au/wp-content/uploads/2022/02/Fronius-Solar-Inverter-1.jpg"
    />

  </section>
 
  <section class="p-6 flex flex-col gap-6">

    <div class='grid grid-cols-1 lg:grid-cols-2 items-center'>

      <div class="flex flex-col">

        <div class="flex justify-center">

          <img 
            src="/images/screens/services/tauro/tauro-exterior.webp" 
            alt="Fronius Tauro"
            class="h-[340px]"
          />

        </div>

        <div class="flex flex-col items-center">

          <div class="w-1/4 bg-neutral-800 h-[2px] mb-4"/>

          <h4 class="font-semibold text-xl">Fronius Tauro ECO 208-220</h4>

          <ul class="flex flex-col items-center">

            <li>Rango de Potencia: 50 kW</li>

            <li>Ideal para países con clase de tensión 208 - 220V</li>

          </ul>

        </div>

      </div>

      <div class="flex flex-col p-6 text-center lg:text-left gap-2">

        <div>

          <h3 class="font-semibold text-xl">El inversor robusto Fronius Tauro impresiona por sus mínimos costos de funcionamiento del sistema.</h3>
    
          <p>Para los proyectos hace que las instalaciones fotovoltaicas comerciales a gran escala sean rentables.</p>
    
        </div>
    
        <ul class="flex flex-col">
    
          {tauroList.map((item) => <li>{item}</li>)}
    
        </ul>

      </div>

    </div>


  </section>

  <section class="p-6 bg-neutral-800 text-white grid grid-cols-1 lg:grid-cols-2 gap-6">

    <div class="flex flex-col items-center text-center">

      <div class="flex justify-center">

        <img 
          src="/images/screens/services/tauro/tauro-interior.png" 
          class="h-[340px] mb-2"
        />

      </div>

      <div class="w-1/4 bg-white h-[2px] mb-2"/>

      <h3 class="text-xl font-semibold">Extremadamente rentable</h3>

      <ul>
        {extremadamenteRentableList.map((item) => <li>{item}</li>)}
      </ul>

    </div>

    <div class="flex flex-col justify-center text-center lg:text-left gap-2 p-6">

      <div>

        <h3 class="text-xl font-semibold">Diseño robusto para una larga vida útil</h3>

        <p>La luz solar directa y las altas temperaturas no son un problema para el robusto Fronius Tauro, ofrece plena potencia sin restricciones incluso</p>

      </div>

      <ul>
        {diseñoRobustoList.map((item) => <li>{item}</li>)}
      </ul>

    </div>

  </section>

</Layout>