---

// Components
import ChatbotBox from './ChatbotBox';
import CustomButton from '../forms/CustomButton';
import ButtonClass from '../../classes/ButtonClass';

const headerButtons = [
  { label: 'Sobre Nosotros', url: '/sobre-nosotros' },
  { label: 'Servicios', url: '/fronius' },
  { label: 'Financiamientos', url: '/blink' },
];

export type HeaderButton = {
  label: string;
  url: string;
};

---

<nav class="group p-4 px-4 md:px-8 flex justify-between items-center gap-4 fixed hover:bg-white transition w-full duration-100 ease-in-out">

  <a href="/">

    <img src='/images/mi-energia-logo/logo1.png' class="h-8"/>

  </a>

  <div class="flex gap-4">

    <div class="hidden md:flex gap-4">

      { 
        
        headerButtons.map((button) => (

        <a class="text-white" href={button.url}>
          
          <CustomButton 
            buttonClass={ButtonClass.TransparentButtonsClass('group-hover:text-gray-800')} 
            client:load
          >{button.label}</CustomButton>
  
        </a> 
  
      ))}

    </div>

    <a href="/contactanos">

      <CustomButton buttonClass={ButtonClass.TransparentButtonsClass('group-hover:text-gray-800')}>Contáctanos</CustomButton>

    </a>

  </div>

  <ChatbotBox client:load/> 

</nav>