---
// Components
import Layout from '../layouts/Layout.astro';

const providerList:ProviderTeamData[] = [
  { name : 'Fronius', image: '/images/logos/fronius-logo.png' },
  { name : 'Aluminext', image: '/images/logos/aluminext-logo.png' },
  { name : 'Icatey', image: '/images/logos/icatey-logo.png' },
  { name : 'Fronius', image: '/images/logos/fronius-logo.png' },
  { name : 'Aluminext', image: '/images/logos/aluminext-logo.png' },
  { name : 'Icatey', image: '/images/logos/icatey-logo.png' },
  { name : 'Fronius', image: '/images/logos/fronius-logo.png' },
  { name : 'Aluminext', image: '/images/logos/aluminext-logo.png' },
];

type ProviderTeamData = {
  name: string;
  image: string;
}

---

<Layout title='Conocer Más'>

  <section class="h-96 w-screen bg-gray-700 text-white flex flex-col justify-center items-center p-6">

    <h1 class="text-2xl font-semibold">Conocer Más</h1>

    <p class="w-1/2 text-center">
      Recupera tu inversión de manera rápida al eliminar o reducir tus costos de energía eléctrica mediante la generación de tu propia energía. 
      Los paneles solares no necesitan mantenimiento frecuente, aunque se recomienda una inspección anual para garantizar su óptimo funcionamiento.
    </p>

  </section>

  <section class="w-screen bg-white flex flex-col p-6 text-gray-800">

    <h1 class="text-2xl font-semibold text-center">Proveedores</h1>

    <div class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

      {providerList.map((row) => (

        <div class="flex flex-col text-center justify-center font-medium gap-2">
  
          <img 
            src={row.image} 
            alt={row.name} 
            class="w-40 mx-auto justify-self-center" 
          />

          <h3>{row.name}</h3>
          
        </div>
  
      ))}

    </div>

    <div></div>

  </section>

</Layout>
