---

// Components
import Layout from "../layouts/Layout.astro"

// Sections
import EmailFormContainer from "../sections/contactanos/EmailFormContainer"

---

<Layout title='Contáctanos'>

  <div class="flex flex-col">

    <section class="flex flex-col">

      <EmailFormContainer/>
  
    </section>

  </div>

</Layout>