---

// Components
import Layout from "../layouts/Layout.astro";

// Sections
import CargadorMQ200 from '../sections/screens/electromovilidad/CargadorMQ200.astro';
import AdoptaEstacionCarga from '../sections/screens/electromovilidad/AdoptaEstacionCarga.astro';
import ElectrificaTuFlotilla from '../sections/screens/electromovilidad/ElectrificaTuFlotilla.astro';
import VentajasElectromovilidad from '../sections/screens/electromovilidad/VentajasElectromovilidad.astro';
import MovilidadElectricaCamino from '../sections/screens/electromovilidad/MovilidadElectricaCamino.astro';
import ConvertirFlotaEmpresarial from '../sections/screens/electromovilidad/ConvertirFlotaEmpresarial.astro';
import SerAnfitrionEstacionCargo from '../sections/screens/electromovilidad/SerAnfitrionEstacionCargo.astro';

---

<Layout title="Electromovilidad">

  <SerAnfitrionEstacionCargo/>

  <ConvertirFlotaEmpresarial/>
  
  <MovilidadElectricaCamino/>

  <AdoptaEstacionCarga/>

  <VentajasElectromovilidad/>

  <ElectrificaTuFlotilla/>

  <CargadorMQ200/>

  <div class="grid grid-cols-1 md:grid-cols-2">

    <div class="p-6 md:px-20 bg-gray-700 flex items-center">

      <p class="font-semibold text-2xl text-white">
        Transforma tu empresa y recarga tus vehículos eléctricos con nuestra tecnología de punta.
        Da el siguiente paso hacia el futuro de la movilidad eléctrica con Mi Energía MX.
      </p>
  
    </div>
  
    <img src='/images/screens/electromovilidad/img2.jpg'/> 

  </div>
  
</Layout>