---

// Modules
import { YouTube } from 'astro-embed';

// Components
import Layout from "../layouts/Layout.astro";
import BajaTusCostos from '../sections/screens/fronius/BajaTusCostos.astro';
import InversorRobusto from '../sections/screens/fronius/InversorRobusto.astro';
import PorQueMiEnergia from '../sections/screens/fronius/PorQueMiEnergia.astro';
import VentajasVistazo from '../sections/screens/fronius/VentajasVistazo.astro';
import BackgroundWithVideo from '../components/custom/BackgroundWithVideo.astro';
import Fronius2024 from '../sections/screens/electromovilidad/Fronius2024.astro';
import EnergiaRenovable from '../sections/screens/fronius/EnergiaRenovable.astro';
import BeneficiosFronius from '../sections/screens/fronius/BeneficiosFronius.astro';
import BajaTusCostosList from '../sections/screens/fronius/BajaTusCostosList.astro';
import MonitoreeInstalacion from '../sections/screens/fronius/MonitoreeInstalacion.astro';
import DisenadoLiderMercado from '../sections/screens/fronius/DisenadoLiderMercado.astro';
import QueDiferenciaMiEnergia from '../sections/screens/fronius/QueDiferenciaMiEnergia.astro';
import SustentabilidadAmbiente from '../sections/screens/fronius/SustentabilidadAmbiente.astro';
import SuministroEnergiaRespaldo from '../sections/screens/fronius/SuministroEnergiaRespaldo.astro';
import FuncionInstalacionFotovoltaica from '../sections/screens/fronius/FuncionInstalacionFotovoltaica.astro';

---

<style>

  .descubre-fronius-img {
    background-image: url('/images/screens/fronius/img1.jpg');
    background-size: cover;
    background-position: center;
  }

  .fronius-web-img {
    background-image: url('/images/screens/fronius/img4.jpg');
    background-size: cover;
    background-position: center;
  }

</style>

<Layout title="Fronius">

  <BackgroundWithVideo 
    url="https://blau-app-storage.s3.amazonaws.com/consultorias/mi-energia/MiEnergia-02.mov"
  />

  <section class="bg-neutral-800 text-white flex flex-col p-6 md:px-20 lg:px-40 xl:px-60">

		<p class="text-lg text-center font-medium">
			Impulsamos la transición energética y descarbonización de México a través de soluciones energéticas 
			altamente rentables y eficientes que agregan valor a nuestros clientes reduciendo sus gastos fijos 
			y huella de carbono.
		</p>

	</section>

  <PorQueMiEnergia/>

  <QueDiferenciaMiEnergia/>

  <BeneficiosFronius/>

  <section class="bg-neutral-800 text-white p-6 md:px-20 lg:px-40 xl:px-60">
    <p class="text-xl font-medium text-center">Confía en nuestra experiencia y en la tecnología de vanguardia para tus necesidades solares.</p>
  </section>

	<DisenadoLiderMercado/>

	<BajaTusCostos/>

  <SustentabilidadAmbiente/>

  <BajaTusCostosList/>

  <!-- Sistema fotovoltaico residenciales híbridos -->
  <EnergiaRenovable/>

  <SuministroEnergiaRespaldo/>
  
  <FuncionInstalacionFotovoltaica/>

  <MonitoreeInstalacion/>

  <section class="flex flex-col text-center p-6 md:py-10 md:px-20 lg:px-40 xl:px-60">

    <h3 class="text-2xl font-semibold">Monitoreo del sistema fotovoltaico con Fronius Solar.web</h3>

    <p>
      Este monitoreo ofrece un análisis comprensivo de funciones que permiten consulta 
      individual y optimización en curso del sistema fotovoltaico.
    </p>

  </section>

  <VentajasVistazo/>

  <section class="bg-neutral-200 flex flex-col text-center p-6 md:px-20 lg:px-40 xl:px-60">

    <span class="text-sm">Inversor</span>

    <h3 class="text-2xl font-semibold mb-1">Fronius Tauro</h3>

    <p>
      Este inversor es sostenible en todo, gracias a su desarrollo y producción sostenible de Austria, su diseño innovador es de doble pared y enfriamiento activo.
      Esto hace que Fronius Tauro sea particularmente robusto y resistente a daños, y significa que solo es necesario reemplazar piezas individuales durante el servicio en el sitio, lo que ahorra tiempo y recursos.
    </p>

  </section>
 
  <InversorRobusto/>

  <section class="flex flex-col">

    <YouTube 
      id="https://www.youtube.com/watch?v=mRim7E7y4ow&ab_channel=FroniusSolarEnergy"
      class="w-full max-w-full"
      title="Fronius Tauro"
    />

  </section>

  <Fronius2024/>

</Layout>

