---

// Components
import Layout from '../layouts/Layout.astro';

// Sections
import HomeVideo from '../sections/screens/home/HomeVideo.astro';
import PlantasSitios from '../sections/screens/home/PlantasSitios.astro';
import NuestrasRedes from '../sections/screens/home/NuestrasRedes.astro';
import MiEnergiaServicios from '../sections/screens/home/MiEnergiaServicios.astro';
import NuestrosCertificados from '../sections/screens/home/NuestrosCertificados.astro';

---

<style>
	
	.header-bg-image {
		background-image: url('/images/screens/home/img1.jpg');
	}

</style>

<Layout title="Welcome to Mi Energia MX.">

	<HomeVideo url="https://blau-app-storage.s3.amazonaws.com/consultorias/mi-energia/MiEnergia-01.mov"/>

	<section class="bg-neutral-700 text-white flex flex-col items-center gap-6 p-6 md:p-12 md:px-20 lg:px-40 xl:px-60">

		<p class="text-xl text-center font-medium">
			Formamos parte de Ingeniería y Desarrollo de Yucatán S.A. de C.V. (IDY), 
			empresa constructora y de servicios de ingeniería con más de 30 años de experiencia 
			en la industria de la construcción (fundación 1991).
		</p>

		<img 
			class="w-40"
			src="/images/screens/home/logos-certificaciones/img9.png"
		/>

	</section>

	<NuestrosCertificados/>

	<MiEnergiaServicios/>

	<PlantasSitios/>

	<NuestrasRedes/>

</Layout>