---

// Classes
import ButtonClass from '../classes/ButtonClass';

// Components
import Layout from '../layouts/Layout.astro';
import CustomButton from '../components/forms/CustomButton';

const sobreNosotrosParagraph = `
  En Mi Energía MX estamos enfocándonos en brindarles calidad y el buen servicio, utilizando los mejores productos del mercado. 
  Queremos ayudarte a impulsar la transición energética y descarbonización de México a través de soluciones energéticas altamente 
  rentables y eficientes que agregan valor a nuestros clientes reduciendo sus gastos fijos y huella de carbono. 
  Más de 30 años de experiencia en servicios de construcción nos respaldan.`

---

<Layout title='Sobre Nosotros'>

  <section class="bg-neutral-800 flex flex-col justify-center items-center p-6 pt-20 text-white h-96">

    <h2 class="text-2xl font-semibold">Sobre Nosotros</h2>

    <p class="md:w-1/2 text-center">{sobreNosotrosParagraph}</p>

  </section>

  <div class="bg-gray-700 h-screen flex items-center justify-between flex-col p-6">

    <h2 class="text-xl font-medium text-white">Título X</h2>

    <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Conócenos</CustomButton>

  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 text-center h-96">

    <div class="p-6 bg-gray-100 order-2 md:order-1 h-full flex flex-col justify-center">

      <h2 class="text-xl font-semibold">Nuestra Misión</h2>

      <p>
        Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
        promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
      </p>

    </div>

    <div class="p-6 bg-neutral-800 text-white order-1 md:order-2 h-full flex flex-col justify-center">

      <h2 class="text-xl font-semibold">Nuestra Visión</h2>

      <p>
        Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
        Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
      </p>

    </div>

  </section>

  <section>

    <div class="bg-gray-700 h-screen flex items-center justify-between flex-col p-6">

      <h2 class="text-xl text-white font-semibold">Título X</h2>

      <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Conócenos</CustomButton>

    </div>

  </section>

</Layout>