---

// Modules
import Layout from "../layouts/Layout.astro";

const froniusSolarWebList = [
  'Test de funcionalidad: Recupere datos del sistema en tiempo real en cualquier momento en Solar.web',
  'Análisis del rendimiento y consumo: Con Fronius, determina rápidamente la viabilidad de integrar componentes adicionales, como sistemas de almacenamiento de baterías o un Ohmpilot.',
  'Fastest service on the market: Solar.web te apoya en ofrecerle a tus clientes el mejor servicio del mercado.',
  'Maximum flexibility: Accede desde una computadora o cuando estés fuera desde la aplicación de tu celular.',
];

const descubreFronius = [
  'Red global: Con más de 4,000 socios en 100+ países.',
  'Soporte experto: Asistencia eficaz y prioritaria, con herramientas inteligentes y conocimientos de Fronius.',
  'Compromiso total: Todos trabajamos al máximo para ayudar a nuestros clientes en su revolución energética personal.',
];

const diferencialesFronius = [
  'Amplia experiencia en soluciones de energías renovables: Fotovoltaicas, almacenamiento, electromovilidad y más.',
  'Consultores competentes para la transición energética.',
  'Excelente servicio posventa para el mantenimiento y revisión de instalaciones.',
  'Fronius Solutions Partners certificados que cumplen criterios de calidad definidos.',
];

---

<Layout title="Solar Web">

  <div class="h-screen bg-gray-700">

  </div>

  <section class="p-6 bg-neutral-800 text-white">

    <h3 class="text-xl font-semibold">Monitoreo del sistema fotovoltaico con Fronius Solar.web</h3>

    <p>
      Con Fronius Solar.web no solo es una herramienta de monitoreo profesional, 
      también ofrece un análisis comprensivo de funciones permitiendo la optimización 
      en curso del sistema fotovoltaico.
    </p>

    <h4>Sus ventajas:</h4>

    <ul>
      {froniusSolarWebList.map((item) => <li>{item}</li>)}
    </ul>

  </section>

  <section class="p-6 bg-white">

    <h3 class="text-xl font-semibold">Descubre Fronius</h3>

    <ul>
      {descubreFronius.map((item) => <li>{item}</li>)}
    </ul>

  </section>

  <section class="p-6 bg-neutral-800 text-white">

    <h3 class="text-xl font-semibold">¿Qué diferencia a un Fronius Solutions Partner?</h3>

    <ul>
      {diferencialesFronius.map((item) => <li>{item}</li>)}
    </ul>

  </section>

</Layout>