<section class="grid grid-cols-1 md:grid-cols-2">

  <div class="flex items-center bg-neutral-700">
    <h3 class="text-xl font-medium p-6 text-center text-white">
      Desde una propiedad de alquiler hasta una fábrica, obtén una herramienta que te permita visualizar, entender, medir y controlar tu consumo energético.
    </h3>
  </div>

  <img src="/images/screens/monitoreo/img1.jpg"/>

</section>