---

const monitoreoList = [
  'Supervisa tu consumo y rendimiento energético en tiempo real.',
  'Garantiza la funcionalidad y reduce el período de amortización.',
  'Identifica y optimiza el consumo de energía.',
  
];

---

<section class="px-6 py-16 lg:px-40 text-center flex flex-col gap-4 bg-gray-50">

  <div class="flex flex-col">
    <h3 class="text-2xl font-semibold">Monitorea tu consumo energético en todo momento</h3>
    <p>Con nuestras herramientas de monitoreo, puedes supervisar el consumo y rendimiento energética de tu edificio</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pt-6">

    {
      monitoreoList.map((row) => (
        <div class='flex flex-col border rounded p-6 bg-white items-center justify-center'> 
          <p>{row}</p>
        </div>
      ))
    }

  </div>

</section>