<section class="p-6 lg:px-40 flex flex-col gap-4 bg-gray-50 text-center">

  <h3 class="text-2xl font-medium">Las ventajas de los sistemas de monitoreo de energía y consumo eléctrico:</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <img src="/images/screens/monitoreo/img2.jpg" class="border rounded">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <div class="p-6 rounded border bg-white flex items-center">
        <p>Determina formas de reducir el uso de energía. Reducir derroches innecesarios y recortar las facturas</p>
      </div>
  
      <div class="p-6 rounded border bg-white row-span-2 flex items-center">
        <p>Accede a datos en tiempo real sobre el uso de la energía. Realiza un seguimiento a lo largo de un periodo de tiempo.</p>
      </div>
  
      <div class="p-6 rounded border bg-white flex items-center">
        <p>Programa alertas automáticos de fallos de equipos y reportes.</p>
      </div>

    </div>

  </div>

</section>