<section class="bg-neutral-100" id="sistema-fotovoltaico-residenciales-hibridos">

  <div class="grid grid-cols-1 md:grid-cols-2">

    <div class="flex flex-col">
      <img src="/images/screens/fronius/img7.png">
    </div>

    <div class="flex flex-col justify-center p-6 md:p-12">
      <span class="text-sm">Sistema fotovoltaico residenciales híbridos</span>
      <h2 class="text-2xl font-semibold">Energía 100% renovable para su casa</h2>
      <p class="text-lg">En Mi Energía MX si deseas ahorrar dinero y proteger el medioambiente? Con una instalación fotovoltaica brindará energía renovable para tu casa.</p>
    </div>

  </div>

</section>