---

const tauroList = [
  '• Instalación rápida y mantenimiento eficiente',
  '• Electrónica conductora protegida por la active cooling technology',
  '• La carcasa de doble pared garantiza una compensación de temperatura óptima',
  '• Alto rendimiento estable incluso a temperaturas ambiente de hasta 50°C'
];

---

<section class="p-6 md:px-20 lg:px-40 flex flex-col gap-6">

  <div class='grid grid-cols-1 lg:grid-cols-2 items-center'>

    <div class="flex flex-col">

      <div class="flex justify-center">

        <img 
          src="/images/screens/fronius/img2.jpg" 
          alt="Fronius Tauro"
          class="h-[340px]"
        />

      </div>

      <div class="flex flex-col items-center">

        <div class="w-1/4 bg-neutral-800 h-[2px] mb-4"/>

        <h4 class="font-semibold text-xl">Fronius Tauro ECO 208-220</h4>

        <ul class="flex flex-col items-center">

          <li>Rango de Potencia: 50 kW</li>

          <li>Ideal para países con clase de tensión 208 - 220V</li>

        </ul>

      </div>

    </div>

    <div class="flex flex-col p-6 text-center lg:text-left gap-2">

      <div>

        <h3 class="font-semibold text-2xl">El inversor robusto Fronius Tauro impresiona por sus mínimos costos de funcionamiento del sistema.</h3>
  
        <p class="text-lg">Para los proyectos hace que las instalaciones fotovoltaicas comerciales a gran escala sean rentables.</p>
  
      </div>
  
      <ul class="flex flex-col">
  
        {tauroList.map((item) => <li>{item}</li>)}
  
      </ul>

    </div>

  </div>

</section>