---

const backgroundCoverStyle = {
  backgroundImage: 'url(/images/screens/contactanos/img1.jpg)',
  backgroundSize: 'cover',
  backgroundPosition: 'center',
}

---

<div class='p-6 pt-20 bg-gray-700 flex flex-col items-center justify-center text-white gap-4 h-screen' style={backgroundCoverStyle}>

  <div class='flex flex-col gap-2 text-center md:w-1/2'>

    <h4 class="text-2xl font-semibold text-center">Contáctanos</h4>

    <p>
      Con Mi Energía MX, estamos comprometidos a proporcionarte la
      mejor experiencia y a resolver todas tus inquietudes sobre 
      energía sostenible.
    </p>

  </div>

</div>