---

const bgImgStyle = {
  background: 'url(/images/screens/mi-energia-industrial/fronius-symo-parsdorf-169.jpg)',
  backgroundSize: 'cover',
  backgroundPosition: 'center',
}

---
<section class="bg-neutral-800 grid grid-cols-1 md:grid-cols-2">

  <div class="flex flex-col justify-center gap-1 text-white p-6 md:p-12">

    <div>
      <h3 class="text-sm">Beneficios</h3>
      <h3 class="text-2xl font-semibold">Reduce tus costos</h3>
    </div>

    <p>
  Con un proyecto fotovoltaico de <strong>Mi Energía MX</strong>, tu empresa puede reducir significativamente los costos de energía al aprovechar el abundante recurso de la radiación solar.
</p>


  </div>

  <div class="h-96" style={bgImgStyle}/>

</section>