---

// Components
import TextWithGradient from '../../../classes/TextWIthGradient';

// Styles
const textStyle = `text-4xl font-semibold mb-2 text-center ${TextWithGradient.gradient2}`

---

<section class="bg-neutral-800 text-white p-6 pt-28 py-18 md:pb-10 md:px-20 lg:px-40 xl:px-60">

  <p class={textStyle}>
    Confía en nuestra experiencia y en la tecnología de vanguardia para tus necesidades solares.
  </p>

</section>