---

---

<section class="bg-neutral-100 grid grid-cols-1 md:grid-cols-2" id="disenado-lider-mercado-section">

  <div class="flex flex-col">
    <img src="/images/screens/fronius/img5.jpg">
  </div>

  <div class="flex flex-col justify-center gap-4 p-6 md:p-12">

    <div>
      <h3 class="text-sm">Beneficios</h3>
      <h3 class="text-2xl font-semibold">Diseñado por el líder del mercado fotovoltaico</h3>
    </div>

    <table class="border bg-white border-collapse">

      <tbody>
        
        <tr>

          <td class="p-3 border text-red-600 font-medium">
            Justo a su medida
          </td>

          <td class="p-3 border">
            Dimensionamos nuestro sistema mediante un análisis exhaustivo de sus necesidades energéticas, 
            instalaciones e historial de pagos electrónicos para asegurar ahorros óptimos.
          </td>

        </tr>

        <tr>

          <td class="p-3 border text-red-600 font-medium">
            Operación y mantenimiento
          </td>

          <td class="p-3 border">
            Optimiza tu empresa con nuestro paquete de operación y mantenimiento. 
            Nos encargamos del funcionamiento mientras generas ahorros con energía solar.
          </td>
          
        </tr>

        <tr>
          
          <td class="p-3 border text-red-600 font-medium">
            Monitoreo 24h
          </td>

          <td class="p-3 border">
            Se realiza un monitoreo las 24 horas a través de Fronius Solar Web para asegurar 
            el funcionamiento óptimo del sistema. Sin preocupaciones por fallos, 
            con tiempos de respuesta excelentes.
          </td>

        </tr>

      </thead>

    </table>

  </div>

</section>