---

// Classes
import TextWithGradient from '../../../classes/TextWIthGradient'

// Gradient
const textGradient = `text-2xl font-semibold ${TextWithGradient.gradient1}`;

---

<section class="flex flex-col text-center p-6 md:py-14 md:px-20 lg:px-40 xl:px-60">

  <h3 class={textGradient}>Monitoreo del sistema fotovoltaico con Fronius Solar.web</h3>

  <p class="text-lg">
    Este monitoreo ofrece un análisis comprensivo de funciones que permiten consulta 
    individual y optimización en curso del sistema fotovoltaico.
  </p>

</section>