<section class="bg-neutral-800 text-white">

  <div class="grid grid-cols-1 md:grid-cols-2">

    <div class="flex flex-col justify-center p-6 md:p-12">

      <span class="text-sm">Sistema fotovoltaico residenciales híbridos</span>

      <h2 class="text-2xl font-semibold">Suministro de energía de respaldo en caso de apagón</h2>

      <p>
        La mayoría de las instalaciones fotovoltaicas suelen apagarse durante apagones.
        Con un inversor con función de respaldo y almacenamiento de energía, seguirás teniendo electricidad durante un apagón.
      </p>

    </div>

    <div class="flex flex-col">

      <img src="/images/screens/fronius/img8.jpg">

    </div>

  </div>

</section>