---

const bgImageStyle = {
  background: 'url(/images/screens/fronius/img6.jpg)',
  backgroundSize: 'cover',
  backgroundPosition: 'center',
}

---


<section class="grid grid-cols-1 md:grid-cols-2">

  <div style={bgImageStyle} class="h-96"/>

  <div class="bg-neutral-100 flex flex-col p-6 md:p-12 justify-center">

    <h3 class="text-2xl font-semibold">Sustentabilidad para el ambiente, ahorros para ustedes</h3>

    <p>
      Instale un sistema fotovoltaico con Mi Energía MX para generar en su empresa 
      energía limpia y más barata en su propio techo. Esta es la mejor forma de ser 
      socialmente responsable y amigable con el medio ambiente al mismo tiempo que 
      bajan sus costos de operación.
    </p>

  </div>

</section>