<style>

  .img2-bg {
    background-image: url('/images/screens/bess-system/img2.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .img3-bg {
    background-image: url('/images/screens/bess-system/img3.jpg');
    background-size: cover;
    background-position: center;
  }

  .img4-bg {
    background-image: url('/images/screens/bess-system/img4.jpg');
    background-size: cover;
    background-position: center;
  }

</style>


<section class="flex flex-col p-6 md:pb-16 md:px-20 lg:px-40 xl:px-60">

  <h2 class="text-2xl font-semibold">¿Qué es BESS?</h2>

  <p class="text-lg mb-6">
    Un sistema BESS (Battery Energy Storage System) permite almacenar energía en periodos de baja demanda para su uso
    durante momentos de alta demanda, ayudando a optimizar el consumo y reducir costos energéticos.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <img src="/images/screens/bess-system/img2.jpg" class="border rounded md:col-span-2">

    <div class="img3-bg h-56 border rounded"/>

    <div class="img4-bg h-56 border rounded"/>

  </div>

</section>