<div class="p-6 md:px-20 lg:px-40 xl:px-60">

  <h2 class="text-xl font-semibold">Charge & Connect: Más eficiencia, nueva transparencia.</h2>

  <p>
    Mi Energía MX te ofrece Charge & Connect, una solución que va más allá de la carga convencional. 
    Con sus numerosas funciones de análisis, podrás detectar errores de aplicación en etapas tempranas y 
    tomar medidas para reducir costos y mejorar el rendimiento de tus operaciones.
  </p>

</div>