---

const backgroundStyle = {
  backgroundImage: 'url("/images/screens/monta-cargas/img6.jpg")',
  backgroundSize: 'cover',
  backgroundPosition: 'center',
  backgroundRepeat: 'no-repeat',
}

---

<div class="grid grid-cols-2">

  <div style={backgroundStyle} class="h-96"/>

  <div class="p-6 h-full flex flex-col justify-center bg-gray-200">

    <h2 class="text-2xl font-semibold">Solución inteligente</h2>
  
    <p>
      Nuestra tecnología se basa en un algoritmo de carga inteligente que analiza constantemente 
      tu infraestructura de carga según los parámetros establecidos.
    </p>
  
  </div>

</div>