---

const backgroundImage = {
  backgroundImage: 'url(/images/screens/monta-cargas/img2.jpg)',
  backgroundSize: 'cover',
  backgroundPosition: 'center',
}

const info = `
  Optimizar la operación de tus vehículos analizando el volumen de uso y el tiempo de operación.
  Mi Energía MX establece criterios claros con los operadores 
  para mejorar las prácticas de carga y reducir el Costo Total de Propiedad (TCO).`;

---

<div class="grid grid-cols-2">

  <div class="bg-neutral-200 h-full p-6 flex flex-col justify-center bg-gray-600 text-black">
    <p class="text-3xl font-semibold">Hasta el 90% del consumo de energía eléctrica de un CEDIS puede provenir de su sala de carga.</p>
    <p>{info}</p>
  </div>

  <div style={backgroundImage} class="h-96"/>

</div>