---

const backgroundStyle = {
  backgroundImage: 'url("/images/screens/monta-cargas/img4.jpg")',
  backgroundSize: 'cover',
  backgroundPosition: 'center',
}

---


<div class="grid grid-cols-2">

  <h2 class="p-6 flex items-center text-3xl font-semibold bg-neutral-200">
    Balance de carga. Ahorro de costos energéticos de manera eficiente, fácil y flexible.
  </h2>

  <div style={backgroundStyle} class="h-96"/>

</div>