<div class="px-6 py-16 md:px-20 lg:px-40 xl:px-60">

  <h2 class="text-2xl font-semibold">Armonizando picos de corriente con balance de carga</h2>

  <p>
    Mi Energía MX mejora tu infraestructura de carga y garantiza la disponibilidad de baterías. 
    Activa fácilmente esta función en Charge & Connect y ahorra en costos energéticos sin 
    necesidad de ser un experto en carga.
  </p>

</div>