---

const backgroundStyle = {
  background: 'url("/images/screens/monta-cargas/img5.jpg")',
  backgroundSize: 'contain',
  backgroundPosition: 'center',
  backgroundRepeat: 'no-repeat',
}

---


<div class="grid grid-cols-2">

  <div class="h-full flex items-center justify-center p-6  bg-gray-200">
    <p class="text-2xl ">
      Con el balance de carga de Charge & Connect. <span class="font-semibold"> Mi Energía MX, </span>
      podrá definir tu modelo de turno y gestionar la disponibilidad de baterías, 
      lo que te permitirá optimizar tus costos energéticos de manera eficiente.
    </p>
  </div>

  <div style={backgroundStyle} class="h-96"/>

</div>