---

const backgroundStyle = {
  backgroundImage: 'url(/images/screens/monta-cargas/img1.jpg)',
  backgroundSize: 'cover', /* Asegura que la imagen cubra todo el contenedor */
  backgroundPosition: 'center',
  backgroundRepeat: 'no-repeat',
}

---

<!-- Versión para Computadora -->
<div 
  style="background-image: url(/images/screens/monta-cargas/img1.jpg);"
  class="hidden md:block w-full h-screen bg-cover bg-center flex items-center justify-center relative">
</div>

<!-- Versión para Móviles -->
<div 
  style="background-image: url(/images/screens/monta-cargas/img1.jpg);"
  class="block md:hidden w-full h-screen bg-no-repeat bg-[right] bg-[length:170%_100%]">
</div>